
ul {
    list-style: none;
    padding-left: 0;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 11px;
  }
  li {
    padding: 8px 15px 6px;
    background-color: #1E566E;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace
  }
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 100px;
    text-align: center;
    margin: 0%;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
hr {
    width: 250px;
    margin: 200;
}
img {
    margin-top: 70px;
    width: 100%;
}
ol {
    list-style: none;
    padding-left: 0;
    background-color: white;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 11px;
  }
  .career {
      margin: 20px;
      color: white;
      font-size: 17px;
      font-family: 'Courier New', Courier, monospace
      padding: 10px 10px;
  }
  p {
      margin: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11pt;
  }